<div class="scrollbar-inner">
  <!-- Brand -->
  <div class="sidenav-header  align-items-center">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="{{ 'assets/img/brand/blue.png'|theme}}" class="navbar-brand-img" alt="...">
    </a>
  </div>
  <div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Nav items -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if this.page.id == 'admin-dashboard' %}active{% endif %}" href="/admin/dashboard">
            <i class="fas fa-tachometer-alt fa-sm fa-fw"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if this.page.id == 'admin-users' or this.page.id == 'admin-addUser' %}active{% endif %}" href="/admin/users">
            <i class="far fa-user fa-sm fa-fw"></i>
            <span class="nav-link-text">Users</span>
          </a>
        </li>
      </ul>
      <!-- <hr class="my-3">
      <h6 class="navbar-heading p-0 text-muted">
        <span class="docs-normal">Pages</span>
      </h6> -->
    </div>
  </div>
</div>