<div class="col-md-6 mb-2 text-right">
    <span class="col"><small>04 minutes ago</small></span>
    <div class="sender_msg bg-primary border col opacity-7 py-3 rounded shadow text-left text-white">
        <p class="font-weight-bolder mb-0">hi.. how are you doing??</p>
    </div>
</div>
<div class="col-md-6 mb-2 text-right float-right">
    <span class="col"><small>01 minutes ago</small></span>
    <div class="reply_msg bg-primary border col opacity-7 py-3 rounded shadow text-left text-white">
        <p class="font-weight-bolder mb-0">I'm very well... thank-you... :) how about you?</p>
    </div>
</div>
<div class="chat_footer">
    <div class="input-group pt-3">
        <textarea type="text" class="form-control" placeholder="Write your Message"></textarea>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Send</button>
          </div>
      </div>
</div>